.Profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5vw;
  align-self: center;
}

.profile-img {
  border-radius: 50px;
  border: 1px solid black;
}

.edit-form-item {
  width: "40vw";
  display: "flex";
  text-align: left;
}
