.WritingTest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

textarea {
  overflow-y: scroll;
  height: 300px;
  resize: none;
  padding: 4px;
}

.WritingTest-word-count {
  align-self: flex-end;
  color: #574e56;
}

.WritingTest-word-count-invalid {
  color: red;
}
