.EvalHistory {
  width: 100%;
}

.EvalHistory-ListCell {
  /* padding: 20px; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.EvalHistory-ListCell-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
}

.EvalHistory-ListCell-text {
  color: #858597;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.EvalHistory-ListCell-text-black {
  color: black;
}
.EvalHistory-ListCell-icon {
  background-color: #f9eff8;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.EvalHistory-ListCell-icon-inner {
  border-radius: 2px;
  background-color: #f2d8ee;
  width: 34px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #bc3aaa;
  font-weight: 600;
}
