.EvalTestSubmitConfim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.EvalTestSubmitConfim-img {
  width: 100%;
}

.EvalTestSubmitConfim-heading,
.EvalTestSubmitConfim-des {
  color: #333333;
  text-align: center;
  margin: 0px;
}

.EvalTestSubmitConfim-text-container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.EvalTestSubmitConfim-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}
