.EvalReport {
  width: 100%;
}

.HeaderContent-heading {
  margin: 0px;
}

.HeaderContent-content {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.TestCard {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  border-radius: 10px;
}

.TestCard-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.EvalReport-TestCard-container {
  display: flex;
  flex-direction: column;
  gap: 10x;
}

.TestCard-cirprogess-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  /* width: 50%; */
}

.TestCard-inner {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.TestCard-text-attempt {
  font-weight: 300;
  font-size: 12px;
  color: #858597;
}

.TestCard-text-perf {
  font-weight: 500;
  font-size: 16px;
  color: #858597;
}

.TestCard-text-tag {
  font-weight: bold;
  font-size: 20px;
}

.TestCard-text-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.TestCard-text-divider {
  width: 20px;
  margin-top: 5px;
  height: 1px;
  background-color: #858597;
}

.TestCard-netscore {
  font-size: 12px;
}

.TestCard-heading {
  font-size: 20px;
  font-weight: bold;
}

.TestCard-head {
  display: flex;
  justify-content: space-between;
}

.TestScoreCard {
  /* background-color: #f1f5ff; */
  padding: 20px;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.TestScoreCard-card {
  display: flex;
  justify-content: space-between;
}

.TestScoreCard-inner {
  display: flex;
  gap: 20px;
}

.TestScoreCard-name {
  font-size: 14px;
}

.TestScoreCard-value {
  font-weight: bold;
  font-size: 18px;
}

.TestScoreCard-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.TestScoreCardContentCell-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.TestScoreCardContent {
  margin: 20px 0px 20px 0px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.TestScoreCardContentCell {
  display: flex;
  flex-direction: column;
}

.TestScoreCardContentCell-value {
  align-self: flex-end;
  font-size: 12px;
}

.TestScoreCard-text-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.TestScoreCard-text-na,
.TestScoreCard-text-correct,
.TestScoreCard-text-incorrect {
  font-size: 14px;
}

.TestScoreCard-text-na {
  color: #407bff;
}

.TestScoreCard-text-correct {
  color: #2fa84f;
}

.TestScoreCard-text-incorrect {
  color: #ff5d44;
}

.TestCard-text-sd {
  color: #858597;
  font-weight: 500;
}

.TestCardInnerType1Cell {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
}

.TestCardInnerType1Cell-head {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin: 20px 0px; */
}

.TestCardInnerType1Cell-heading {
  font-weight: bold;
}

.TestCardInnerType1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.EvalReport-0tests-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 10px;
}

.EvalReport-0tests-img {
  width: 100%;
}
