textarea {
  overflow-y: scroll;
  height: 200px;
  resize: none;
  padding: 4px;
}

.MCQTest {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.MCQTest-ToggleButtonGroup {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
