.WritingTest {
  width: 100%;
}

.TestHeaderContent {
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.TestHeaderContent-heading {
  font-size: 24px;
  font-weight: bold;
}

.TestHeaderContent-clock {
  height: 70px;
  width: auto;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.TestHeaderContent-des {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.WritingTest-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
