.EvaluationTest {
  width: 100%;
}

.TestHeaderContent {
  margin: 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.TestHeaderContent-heading {
  font-size: 24px;
  font-weight: bold;
}

.TestHeaderContent-clock {
  height: 70px;
  width: auto;
  aspect-ratio: 1;
  border: 2px solid white;
  border-radius: 1000px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.TestHeaderContent-des {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.EvaluationTest-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.EvaluationTest-nav {
  margin: 20px;
  color: #574e56;
}

.EvaluationTest-grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(40px, 1fr)
  ); /* Adjust the minimum width as needed */
  gap: 20px; /* Gap between grid items */
  box-shadow: -2px 10px 10px -5px #b8b8d233, 2px 10px 10px 10px #b8b8d233;
  border-radius: 10px;
  padding: 20px;
}

.EvaluationTest-grid-item {
  padding: 10px;
  aspect-ratio: 1; /* Ensure square shape */
  border-radius: 10px;
}

.EvaluationTest-grid-item-demo-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
}

.EvaluationTest-grid-item-demo-container-inner {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}

.EvaluationTest-grid-item-demo {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 10px;
}

.EvaluationTest-grid-item-unfilled {
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.EvaluationTest-grid-item-filled {
  border: 1px solid #ff9016;
  background-color: #ffdbb4;
}

.EvaluationTest-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.EvaluationTest-grid-item-demo-text {
  color: #574e56;
  font-size: 14px;
}
