.react-chatbot-kit-chat-container {
  margin: 20px;
  height: 90vh;
}

.Learning {
  gap: 15px;
  width: 95vw;
  display: flex;
  flex-direction: column;
}

.react-player {
  height: auto !important;
  aspect-ratio: 20/9;
}

.chapter-buttons-container {
  width: 80vw;
  align-self: center;
  overflow-x: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
}

.chapter-button {
  width: 100%;
  text-transform: none;
  scroll-snap-align: start;
}

.chapter-button-title {
  text-align: left;
}

.chapter-button-content {
  display: flex;
  flex-direction: column;
}

#highlight-row-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  width: 90vw;
  height: "auto";
  align-self: center;
  position: relative;
}

#highlight-button,
#quiz-button {
  width: 40vw;
  align-self: center;
  /* justify-self: center; */
}

#old-highlights-button-inner-container {
  padding: 10px;
}

#old-highlights-button {
  border-radius: 200px;
  aspect-ratio: 1;
  /* height: 100%; */
  font-size: 20px;
}

.transcript-container {
  border: 1px solid black;
  border-radius: 5px;
  height: 25vh;
  overflow: scroll;
  padding: 5px;
}

.Popover {
  color: red;
}
