.Onboarding {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.onboarding-header {
  border-radius: 4px;
  background-color: #1da5a7;
  width: 100vw;
  gap: 20px;
}

.onboarding-header-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  gap: 10px;
  padding: 40px 20px;
}

div {
  text-align: left;
}
.few-steps-text {
  font-size: 16px;
  font-weight: 500;
}

.form-heading {
  font-size: 26px;
  margin-bottom: 10px;
}

.form-container {
  padding: 20px;
  color: #333333;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.form-description {
  color: #858597;
  font-size: 16px;
}

.radio-container,
.checkbox-container {
  padding: 10px;
  border: 1px solid #aaaaaf;
  border-radius: 10px;
  color: #858597;
  display: flex;
  flex-direction: column;
}

.form-element-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.other-radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
