.NewProfile {
  width: 100%;
}

.ProfileHeaderContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.ProfileHeaderContent-name {
  font-size: 24px;
  font-weight: bold;
}

.ProfileHeaderContent-container-outer {
  width: 100px;
  height: 100px;
  background-color: #ffce5a;
  border-radius: 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProfileHeaderContent-container {
  font-size: 40px;
  font-weight: 500;
  color: black;
}

.ListCell {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 10px;
  border-radius: 10px;
}

.NewProfile-list-container {
  padding: 20px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
