.Profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 5vw;
  align-self: center;
}

.profile-img {
  border-radius: 50px;
  border: 1px solid black;
}

.streak-header {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-start;
  font-weight: bold;
}
.streak-container {
  border: 1px solid black;
  border-radius: 5px;
  height: 5vh;
  width: 100%;
  overflow: scroll;
  padding: 5px;
}
