code {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 2px;
  font-family: monospace;
}

pre {
  padding-left: 16px;
  text-wrap: wrap;
}

li {
  margin-bottom: 10px;
}

.react-chatbot-kit-chat-container {
  margin: 20px;
  z-index: 10;
}

.react-chatbot-kit-chat-header,
.react-chatbot-kit-chat-input-container,
.react-chatbot-kit-chat-message-container,
.react-chatbot-kit-chat-container,
.react-chatbot-kit-chat-inner-container {
  width: 30vw;
  box-sizing: border-box;
  min-width: 300px;
}

.react-chatbot-kit-chat-message-container {
  height: 70vh;
  background-color: rgb(219, 219, 219);
}

.react-chatbot-kit-chat-input-container {
  border: 2px solid rgb(219, 219, 219);
}

.react-chatbot-kit-chat-inner-container {
  height: 80vh;
}

.minus-z-index {
  z-index: -1;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0px;
  width: 1000px;
}

.react-chatbot-kit-chat-header {
  border-radius: 20px 20px 00px 0px;
  color: "white";
}
