.SpeakingTest {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.SpeakingTest-question-text {
  line-height: 24px;
}

.SpeakingTest-micContainer-0 {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SpeakingTest-micContainer-2,
.SpeakingTest-micContainer-1,
.SpeakingTest-micContainer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.SpeakingTest-micContainer-1 {
  background-color: #d7c6f6;
  padding: 10px;
}

.SpeakingTest-micContainer-2 {
  background-color: #c5a8fa;
  padding: 10px;
}

.SpeakingTest-micContainer-3 {
  background-color: #8c54f6;
  padding: 20px;
  width: 20px;
  height: 20px;
}

.SpeakingTest-mic-and-timer-container {
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

@keyframes paddingAnimation {
  0%,
  100% {
    padding: 10px;
  }
  50% {
    padding: 5px;
  }
}

.SpeakingTest-micContainer-1.animate,
.SpeakingTest-micContainer-2.animate {
  animation: paddingAnimation 2s infinite;
}

.SpeakingTest-audioplayer-container {
  display: flex;
  flex-direction: row;
}

.SpeakingTest-warning {
  color: #ff5d44;
}
