@font-face {
  font-family: Samark;
  src: url(./fonts/samarkan.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif !important;
}

/* 
.MuiDivider-root,
.MuiDivider-fullWidth,
.css-9mgopn-MuiDivider-root {
  color: rgba(255, 255, 255, 0);
}

.button-green {
  background-color: #1da5a7;
}

.button-green-disabled {
  background-color: #9dced4;
}

button {
  background-color: #ffce5a;
  border: 0px;
  padding: 10px;
  border-radius: 5px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  margin: 20px;
  align-items: center;
  justify-content: space-between;
}

.button-yellow-secondary {
  background-color: #f9d5ac;
  color: white;
}

@media screen and (min-width: 768px) {
  .top-header-container>img {
    width: 150px;
  }
} */