#top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  justify-content: space-between;
  width: 95vw;
}
.top-header-container {
  align-self: flex-start;
  padding: 20px;
}

.MuiDivider-root,
.MuiDivider-fullWidth,
.css-9mgopn-MuiDivider-root {
  color: rgba(255, 255, 255, 0);
}
